* { box-sizing: border-box; }
body {
    margin: 0;
    font-family: 'Courier New', monospace;
    display: flex;
    min-height: 100vh;
    border: 5px solid #000;
}
/* lateral */
aside {
    width: 250px;
    border-right: 5px solid #000;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
}
.profile-pic {
    width: 120px;
    height: 120px;
    border: 4px solid #000;
    border-radius: 50%;
    margin-bottom: 20px;
    display: inline-block;
    background: #ddd; /* Color temporal si no hay foto */
}

main {
    flex-grow: 1;
    padding: 30px;
}
/* post */
.post-card {
    border: 5px solid #000;
    padding: 20px;
    margin-bottom: 25px;
    transition: 0.1s;
}
.post-card:hover { background-color: #f0f0f0; }
a { text-decoration: none; color: #000; }
h1, h2, p { margin: 0 0 10px 0; }
@media (max-width: 600px) { body { flex-direction: column; } aside { width: 100%; border-right: none; border-bottom: 5px solid #000; } }
